body {
    background-color: lightgrey;
    width: fit-content;
    border: 10px groove brown;
}


.image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #555;

}

h1 {
    color: brown;
    font-family: Playfair Display;
    font-size: 40px;
    text-align: center;
    font-weight: 1000;
}

h2 {
    font-weight: 800;
    color: darkolivegreen;
}

p {
    width: fit-content;
    color: darkslategray;
    font-weight: 500;
    font-style: oblique;
    font-size: large;
}

section {
    margin: 50px;
}

a {
    color: blue;
}

li {
    color: darkslategray;
    font-size: large;
    margin: 10px;

}

ul {
    list-style-type: square;
    height: 200px;
    margin: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.columns {
    background-color: burlywood;
    width: auto;
    display: flex;
}

div.column2 li {
    margin-bottom: 70px;
}

div.connect {
    display: flex;
    gap: 50px;
    background-color: burlywood;
    padding: 30px;
}


@media (max-width: 768px) {
    body {
        background-color: cadetblue;
        border: 3px double darkblue;
    }

    h1 {
        color: midnightblue;
        font-family: cursive;
    }

    h2 {
        color: navy;
    }

    p {
        color: black;
    }

    ul {
        margin: 10px;
    }

    .columns {
        background-color: lemonchiffon;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;

    }

    div.connect {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: lemonchiffon;
        padding: 10px;
        column-gap: normal;

    }

    .columns>div {
        border: 1px solid black;
        background-color: aquamarine;

    }

    .connect>p {

        border: 1px solid black;
        background-color: aquamarine;
        padding: 10px;
    }


}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background: pink;
        border: 6px solid darkslategray;

    }

    h1 {
        color: darkgreen;
        font-family: sans-serif;
    }

    h2 {
        color: indigo;
    }

    ul {
        margin: 20px;
    }

    .columns {
        background-color:lightblue;
    }

    div.connect {
        display: grid;
        grid-template-rows: 30px 30px 30px;
        background-color: lightblue;
        gap: 10px;
    }
    a{
        color: darkmagenta;
    }

}

input[type="text"], input[type = "email"]{
    width : 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid azure;
    box-sizing:content-box;
}

textarea{
    width : 50%;
    height:100px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid azure;
    box-sizing:content-box;
}

button[type = "submit"]{
   background-color: rgb(59, 216, 59);
   width: 20%;
   padding: 14px 20px;
   margin: 8px 0;
   border-color: darkcyan;
   cursor: pointer;
   font-size: medium;

}