* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-image: linear-gradient(#a9d4f4, #749aec);
    position: fixed;
    width: 100%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus{
    background-color: black;
    color:white;
    font-weight: 300;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: black;
}

h1 {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
    padding-top: 6%;
}

.image {
    display: block;
    margin: 2% auto;
    border-radius: 50%;
    border: 5px solid #555;
}

h2 {
    padding-top: 3%;
    font-weight: 800;
    color: darkolivegreen;
}

section {
    margin: 60px;
    padding-top: 2%;
}

#About div {
    font-family: 'Times New Roman';
    font-size: large;
    display: block;
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    padding: 2%;
    margin: 2%;
    width: 80vw;
}

#Experience p {
    font-family: 'Times New Roman';
    font-size: large;
    padding-top: 2%;
    padding-left: 2vw;
}

#Experience a {
    color: brown;
    text-decoration: none;
}

.columns {
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2%;
    margin: 2%;
    font-family: 'Times New Roman';
    font-size: large;
}

div.column1 p {
    padding-bottom: 5%;
}

div.column2 li {
    padding-bottom: 20%;
}


/* skills and project section lists */

#Skills ul,
#Projects ul,
.connect {
    list-style-type: square;
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    width: 77vw;
    gap: 1vw;
    padding: 2%;
    padding-left: 5%;
    margin: 2%;
    font-family: 'Times New Roman';
    font-size: large;
}

#linkedin,
#github,
#gmail {
    width: 5vw;
    height: 7vh;
}

#Skills li,
#Projects li {
    margin-left: 1%;
    padding: 2%;

}

#Projects a {
    color: brown;
}

/* style for input fields under Leave a message */

#leave_message {
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    padding: 2%;
    margin: 2%;
    width: 80vw;
    font-family: 'Times New Roman';
    font-size: large;
}


#usersName,
#usersEmail,
#usersMessage {
    border-color: gray;
}


input[type="text"],
input[type="email"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid azure;
    box-sizing: content-box;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid azure;
    box-sizing: content-box;
}

#submitbutton {
    background-color: rgb(66, 211, 218);
    width: 10vw;
    padding: 1vw 2vh;
    margin: 1vw 0;
    border-color: darkcyan;
    cursor: pointer;
    font-size: medium;
}


span {
    padding-left: 6%;
    padding-right: 6%;
}

.footer {
    background-image: linear-gradient(#a9d4f4, #749aec);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 99%;
    font-family: 'Times New Roman';
}

/* Content in footer section */
.footer p {
    color: black;
    margin: 0;
    text-align: center;
    padding: 10px;
}


table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
}

td {
    background-color: aliceblue;
}

#messageTable {

    padding: 2%;
    margin: 2%;
    width: 80vw;
    font-family: 'Times New Roman';
    font-size: large;
}

table {
    width: 80vw;
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
}


/* css for smaller screen size */

@media (max-width: 768px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }


    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: fixed;
    }

    #submitbutton {

        width: 15vw;
        height: 6vh;
        padding: 0;
        margin: 0 0;
        border-color: darkcyan;
        cursor: pointer;
        font-size: small;

    }

    h2 {
        padding-top: 8%;
    }

    #Projects ul {
        display: grid;
        grid-template-columns: auto;
    }
}