body {
    background-color: white;
    width: 82vw;
    float: center;
    border: 10px groove gray;
    margin: 5vw 8vw 5vw 8vw;
}

nav {
    padding-top: 2%;
}

nav a {

    color: darkblue;
    padding-top: 4vw;
    padding: 1vw;
}

a:hover {
    background-color: lightblue;
    color: black;
    font-weight: 300;
}

h1 {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
    padding-top: 3%;
}

.image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #555;
}

h2 {
    font-weight: 800;
    color: darkolivegreen;
}

section {
    margin: 60px;

}

#About div {
    font-family: 'Times New Roman';
    font-size: large;
    display: block;
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    padding: 2%;
    margin: 2%;
    width: 68vw;

}

#Experience p {
    font-family: 'Times New Roman';
    font-size: large;
    padding-left: 2vw;
}

.columns {
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    width: 68vw;
    display: flex;
    padding: 2%;
    margin: 2%;
    font-family: 'Times New Roman';
    font-size: large;
}

div.column2 li {
    margin-bottom: 50px;
    padding-top: 2%;
}

/* skills and project section lists */


/* #projects ul { */
#Skills ul,
#Projects ul,
.connect {
    list-style-type: square;
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    width: 66vw;
    gap: 1vw;
    padding: 2%;
    padding-left: 5%;
    margin: 2%;
    font-family: 'Times New Roman';
    font-size: large;


}

#Skills li,
#Projects li {
    margin-left: 1%;
    padding: 2%;

}


/* style for input fields under Leave a message */

#leave_message {
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    padding: 2%;
    margin: 2%;
    width: 68VW;
    font-family: 'Times New Roman';
    font-size: large;
}


#usersName,
#usersEmail,
#usersMessage {
    border-color: gray;
}


input[type="text"],
input[type="email"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid azure;
    box-sizing: content-box;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid azure;
    box-sizing: content-box;
}

button[type="submit"] {
    background-color: cornflowerblue;
    width: 10vw;
    padding: 1vw 4vh;
    margin: 1vw 0;
    border-color: darkcyan;
    cursor: pointer;
    font-size: medium;

}

#viewmessages ul {
    background-image: linear-gradient(#EDF1F4, #C3CBDC);
    padding: 2%;
    margin: 2%;
    width: 68VW;
    font-family: 'Times New Roman';
    font-size: large;
}

#viewmessages li {
    color: darkcyan;


}

#viewmessages button {
    background-color: peru;
    width: 10%;
    padding: 1% 2%;
    margin: 1% 0;
    border-color: darkcyan;
    cursor: pointer;
    font-size: medium;
}


span {
    padding-left: 6%;
    padding-right: 6%;
}

.footer>p {
    background-image: linear-gradient(#a9d4f4, #749aec);
    padding: 2%;
    font-family: 'Times New Roman';
    font-size: large;
    text-align: center;
}



@media (max-width: 768px) {
    body {
        background-color: lightcyan;
        float: center;
        border: 10px groove gray;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: beige;
        border: 6px solid darkslategray;

    }
}
